/* #region Common */

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

:root
{
  --ds-primary: #255ee9;
  --ds-accent: #7389db;
  --ds-accent-light: #8fa1e0;
  --ds-dark: #23262b;
  --ds-light: #f6f7f7;
  --ds-white: white;

}

section
{
  padding: 2rem 0;
}

a
{
  text-decoration: none;
}
p {
  line-height: 1.5rem;
}
.list-inline
{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

/* 

.list-inline {
  list-style: none;
}

.list-inline li {
  display: inline-block;
} */

/* #endregion Common */

/* #region Debug */
.debug .container
{
  background-color: rgb(255, 166, 0);
}

.debug [class^='col-']
{
  height: 200px;
  background-color: palegreen;
  border: 1px dashed;
}

.debug .h-50
{
  height: 500px;
}

.debug .login,
.debug .logo,
.debug .menu
{
  border: 1px dashed;
}

.debug .container-sm
{
  background-color: palevioletred;
  height: 100%;
}

/* #endregion Debug */

/* #region Utilities */

.d-flex
{
  display: flex;
}

.container-sm
{
  max-width: 800px;
  width: 60%;
  margin: auto;
}

.justify-content-between
{
  justify-content: space-between;
}

/* Flex Grid */
.container
{
  max-width: 1170px;
  width: 80%;
  margin: auto;
}

.row
{
  display: flex;
  /* negative margin */
}

[class^='col-']
{
  padding: 0 1rem;
}

.col-3
{
  width: calc(100% / 12 * 3);
}

.col-4
{
  width: calc(100% / 12 * 4);
}

.col-8
{
  width: calc(100% / 12 * 8);
}

/* Spacings */

.py-3
{
  padding: 0.75rem 0;
}
.my-4{
  margin: 2rem 0;
}
/* Colors */
.bg_section
{
  background-color: #ededed;
}

/* Buttons */

.btn
{
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.btn-light
{
  background-color: var(--ds-light);
  color: var(--ds-dark);
}
.btn-dark
{
  background-color: var(--ds-dark);
  color: var(--ds-white);
}

.btn-sm
{
  font-size: 16px;
}

.btn-lg {
  padding: 0.75rem 1.25rem;
  border-radius: 1.25rem;
}
/* #endregion Utility */

/* #region Header */

header
{
  background-color: var(--ds-primary);
}

.logo,
.login,
.menu
{
  display: flex;
  align-items: center;
}

.logo,
.login
{
  width: 20%;
}

.menu
{
  width: 60%;
  justify-content: center;
}

.menu > ul.list-inline a
{
  color: var(--ds-white);
}

.menu > ul.list-inline a:hover
{
  text-decoration: underline;
}

.login
{
  text-align: end;
}

/* #endregion Header */

/* #region Main */

.jumbotron
{
  background-color: var(--ds-primary);
  background-image: url(../img/jumbo.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  padding: 2rem 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 3.5rem;
  color: var(--ds-white);
}

.jumbotron p {
  font-size: 1.2rem;
  color: var(--ds-white);
}
.call_action
{
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
/* #endregion Main */

/* #region Footer */
footer
{
  background-color: darkblue;
}

footer > .top,
footer > .bottom
{
  padding: 1rem 0;
}

/* #endregion Footer */