/* #region Common */
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  background-color: var(--tb-bg-page);
  font-family: Arial, sans-serif;
}

:root
{
  --tb-bg-page: rgba(247, 249, 249, 1);
  --tb-light: rgb(221, 222, 222);
  --tb-white: white;
  --tb-black: rgba(1, 0, 1, 1);
  --tb-dark: rgba(68, 72, 81, 1);
  --tb-bg-check: rgba(110, 196, 174, 1);
  --tb-bg-cross: rgba(235, 90, 83, 1);
  --tb-bg-mobile: rgba(243, 158, 50, 1);
  ;
  --tb-bg-recruit: rgba(101, 192, 168, 1);
  --tb-bg-sales: rgba(176, 201, 38, 1);
  --tb-bg-website: rgba(216, 98, 160, 1);
  --tb-bg-goals: rgba(156, 115, 229, 1);
  --tb-bg-editorial: rgba(70, 172, 241, 1);
}
/* #endregion Common */
/* #region Utilities */
.container
{
  width: 80%;
  max-width: 1200px;
  margin: auto;
}

.card
{
  background-color: var(--tb-white);
  border: 1px solid #ededed;
  box-shadow: 0 0 13px 0 rgb(68 72 81 / 41%);
  border-radius: 0.5rem;
}

.card-header
{
  border-bottom: 4px solid var(--tb-bg-page);
  padding-left: 3rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem
}

.card-body
{
  padding-left: 3rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem
}

/* Spacings */
.pt-4
{
  padding-top: 2rem;
}
/* Buttons */

.btn {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  background-color: transparent;
  border: none;
  border-radius: 0.25rem;
  font-size: 0.8rem;
}
.btn-primary {
  background-color: var(--tb-bg-editorial);
  color: var(--tb-white);
}
.btn-outline-light
{
  color: var(--tb-light);
  border: 1px solid var(--tb-light)
}

/* #endregion Utilities */


/* #region Header */
#site_header
{
  background-color: var(--tb-white);
  padding: .5rem;
  box-shadow: 0 0 13px 0 rgb(68 72 81 / 41%);
}

.logo_img
{
  height: 100%;
  vertical-align: middle;
}

.logo_text
{
  font-size: 2.2rem;
  vertical-align: middle;
  font-weight: 700;
}
/* #endregion Header */