*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}


.debug #site_header {
  height: 70px;
  background-color: deeppink;
}
.debug #site_main
{
  height: 700px;
  background-color: deepskyblue;
}